.login {
  .card {
    border-radius: 25px !important;
  }
  .login-btn {
    background-color: #721996;
    color: #fff;
    transition: 0.3s all ease;
    &:hover {
      background-color: rgba(114, 26, 149, 0.6);
      color: #fff;
    }
  }
  .form-check-input {
    &:checked {
      background-color: #721a95;
    }
  }
  .back {
    margin-bottom: 1rem;
    height: 60px;
    gap: 40px;
    svg {
      width: 40px;
      height: 40px;
      background-color: #bc5ec6ed;
      border-radius: 50%;
      padding: 10px;
      color: #fff;
    }
    h4 {
      font-size: 18px;
    }
  }
}
